*{
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    height: :100%;
}

body{
    text-align: center;
    background-color: #F7ECDE;
    display: flex;
    flex-direction: column;
}

main{
    color:#18978F
    
}

.container{
    display: flex;
}


ul,li{
    list-style: none;
}

p{
    font-size: 1rem;
}

.btn{
    
    color: #251897;
    font-size: 1.2rem;
    padding: 16px 32px;
    text-align: center;
    border-radius:10px 100px / 120px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}
/* .btn{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  } */
  
  .btn:hover {
    background-color: #5ce79f;

}

.hide{
    display: none;
}

.show{
    display: block;
}